body{
    background-color: rgb(201, 248, 229);
    font-family: "Hiragino Sans", /* iOSサンセリフ */
    "Hiragino Kaku Gothic ProN", /* iOSゴシック */
    "Helvetica Neue", 
    Arial, "Noto Sans CJK JP","Roboto",   /* Android標準 */   /* Android標準日本語 */
    sans-serif; /* フォールバック */
    
}

.sent{
    text-align: center;
}


.imama{
    display: none;
}

.bar{
    position: fixed;
    bottom: 20px;
    left:50%;

    backdrop-filter: blur(10px);
}

@supports (font-family: "HarmonyOS Sans") {
  body {
    font-family: 
      "Noto Sans JP",
      "Source Han Sans",
      "HarmonyOS Sans",
      sans-serif !important;
  }
}
.content-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

p{
    color:rgb(163, 123, 70)
}
.illust{
    max-width: 100%;
    height: auto;
    display: block;
}
.gazou{
    max-width: 20%;
    height: auto;
    display: block;
}
h1{
    font-size: clamp(24px, 5vw, 32px);
    color:rgb(58, 97, 134)
}
h2{
    color:rgb(58, 97, 134)
}
a{
    color:rgb(58, 97, 134)
}

.side-box{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    
}
.CS-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    
}






