body{
    background-color: rgb(201, 248, 229);
    font-family: "Hiragino Sans", /* iOSサンセリフ */
    "Hiragino Kaku Gothic ProN", /* iOSゴシック */
    "Helvetica Neue", 
    Arial, "Noto Sans CJK JP","Roboto",   /* Android標準 */   /* Android標準日本語 */
    sans-serif; /* フォールバック */
    
}

.sent{
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
}
.imama{
    display: none;
}

.bar{
    position: fixed;
    bottom: 20px;
    left:50%;

    backdrop-filter: blur(10px);
}

@supports (font-family: "HarmonyOS Sans") {
  body {
    font-family: 
      "Noto Sans JP",
      "Source Han Sans",
      "HarmonyOS Sans",
      sans-serif !important;
  }
}
.content-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 0px;
    text-align: center;
}

p{
    color:rgb(163, 123, 70)
}
.illust{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 0 auto 10px;
}
.gazou{
    max-width: 20%;
    height: auto;
    display: block;
    border: 3px solid #30317a;
}
h1{
    font-size: clamp(24px, 5vw, 32px);
    color:rgb(58, 97, 134)
}
h2{
    color:rgb(58, 97, 134)
}
a{
    color:rgb(58, 97, 134)
}

.back{
    background-color: rgb(172, 101, 238);
    color: white;
    padding: 3px;
    border-radius: 30px;
}



.side-box{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 0px;
    border: 3px solid #ffffff;
    
}
.CS-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    
}

.button{
    background-color: rgb(168, 96, 226);
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    color: white;
    border: 3px solid #ffffff;
}
.topline{
    text-decoration: underline;
    text-decoration-color: lch(57.45% 70.46 289.5); /* 線の色 */
    text-decoration-thickness: 3px; /* 線の太さ */
}




