body{
    background-color: rgb(250, 207, 222);
}




.content-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

p{
    color:rgb(163, 123, 70)
}
img{
    max-width: 20%;
    height: auto;
    display: block;
}
h1{
    color:rgb(58, 97, 134)
}
h2{
    color:rgb(58, 97, 134)
}
a{
    color:rgb(58, 97, 134)
}
