body{
    background-color: antiquewhite;
    font-family: "Hiragino Sans", /* iOSサンセリフ */
    "Hiragino Kaku Gothic ProN", /* iOSゴシック */
    "Helvetica Neue", 
    Arial, 
    sans-serif; /* フォールバック */
    
}

.content-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

p{
    color:rgb(163, 123, 70)
}
.illust{
    max-width: 100%;
    height: auto;
    display: block;
}
.gazou{
    max-width: 20%;
    height: auto;
    display: block;
}
h1{
    color:rgb(58, 97, 134)
}
h2{
    color:rgb(58, 97, 134)
}
a{
    color:rgb(58, 97, 134)
}

.side-box{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    
}