body{
    background-color: #ffeff4;
    font-family: "Hiragino Sans", /* iOSサンセリフ */
    "Hiragino Kaku Gothic ProN", /* iOSゴシック */
    "Helvetica Neue", 
    Arial, "Noto Sans CJK JP","Roboto",   /* Android標準 */   /* Android標準日本語 */
    sans-serif; /* フォールバック */
    
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
}

.card {
    background: white;
    border-radius: 0px;
    padding: 15px;
    text-align: center;
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.1);*/
    transition: 0.3s;
}

.icon {
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    object-fit: cover;
    margin: 0 auto 10px;
    border: 3px solid #30317a;
}

.name {
    font-weight: bold;
    color: #e91e63;
    margin-top: 8px;
    /*align-items: center;
    justify-content: center;*/
    text-align: center;
     /* 画像と文字の間隔を明確に */
    width: 100%;
    text-align: center;

    
}

@supports (font-family: "HarmonyOS Sans") {
  body {
    font-family: 
      "Noto Sans JP",
      "Source Han Sans",
      "HarmonyOS Sans",
      sans-serif !important;
  }
}
.content-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
}

p{
    color:rgb(163, 123, 70)
}
.illust{
    max-width: 100%;
    height: auto;
    display: block;
}
.gazou{
    max-width: 20%;
    height: auto;
    display: block;
}
h1{
    font-size: clamp(24px, 5vw, 32px);
    color:rgb(58, 97, 134)
}
h2{
    color:rgb(58, 97, 134)
}
a{
    color:rgb(58, 97, 134)
}

.side-box{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 20px auto;
    padding: 30px;
    /*border-radius: 15px;*/
    
}
.CS-box{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    
}

.topline{
    text-decoration: underline;
    text-decoration-color: lch(57.45% 70.46 289.5); /* 線の色 */
    text-decoration-thickness: 3px; /* 線の太さ */
}


